
@{
    ViewData["Title"] = "Index";
}

<h2>Cleveland Tourism Database</h2>

<ul>
    <li><a asp-action="Index" asp-controller="Activity">Search For Activities</a></li>
    <li><a asp-action="Index" asp-controller="Activity">Create Your Itinerary</a></li>
    <li><a asp-action="Index" asp-controller="Activity">Add A Review</a></li>
</ul>



